{% extends 'base.html' %}

{% block content %}

    <section>
        {% if request.path == '/user/login/'%}
        <div>
            <form method="POST">
                    {% csrf_token %}
    
                    <input type="text" name="username">
                    <input type="password" name="password">
                    <button>Login</button>  
    
            </form>
            <p>Dont have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>


        {% else %}

        <div>
            <form method="POST">
                {% csrf_token %}

                {{form.as_p}}
                <button>Register</button>

            </form>
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>

        {% endif %}

    </section>

{% endblock %}
