<header>
    <h2>ChatBuddy</h2>
    <form method='GET' action="{% url 'rooms' %}">
        <input type="text" name="topic" placeholder="Search...">
    </form>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'rooms' %}">Rooms</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <hr>
</header>